
header {
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 4rem;
    width: 100%;
    top: 0px;
    left: 0px;
    padding-left: 4.2rem;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
    transition: height .4s, padding .4s;
    z-index: 3;
    div {
        display: flex;
        margin: 0px .5rem;
    }
}
header #title {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    width: 40vw;
    transition: width .4s;
}
header.active { padding-left: 15rem; }
header.active #title { width: 25vw; }

@media screen and (max-width: 900px) {
    header { padding-left: 0px; }
    header.active { padding-left: 4.2rem; }
}
@media screen and (max-width: 320px){
    header { height: 3rem; }
    header #title { display: none; }
}
@media screen and (max-height: 350px) {
    header { height: 3rem; }
}